<button class="item__options" (click)="handleChangeFormVisibility()">
    <div>Show</div>
</button>
<form action="" class="item__form" [ngClass]="!show_form ? 'item__form collapsed' : 'item__form expanded'">
    <label for="">Titulo</label>
    <input type="text" name="" id="">

    <label for="">Descripcion</label>
    <input type="text" name="" id="">

    <label for="">Tipo</label>
    <input type="text" name="" id="">
    
    <label for="">URL</label>
    <input type="text" name="" id="">

    <label for="">Capitulo actual</label>
    <input type="text" name="" id="">

    <label for="">Activo</label>
    <input type="text" name="" id="">

    <label for="">Generos</label>
    <app-item-genres />

    <div class="item__form__buttons">
        <button class="item__form__button"  >Guardar</button>
    </div>
</form>