.badge__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0;
}

.badge {
    cursor: pointer;
    border-radius: 5px;
    padding: 4px 8px;
    margin: 5px 5px 0 0;
    background-color: var(--secondary-color);
    color: var(--white-color);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.badge.active {
    background-color: var(--primary-color);
    color: var(--white-color);
}